<!DOCTYPE html>
<html>
    <head>
    	<title>{% block title %}SopinetBootstrapExtend{% endblock %}</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	{% stylesheets
				'include/css/include.css'
    		filter='cssrewrite' %}
    		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}    	
    	
    	{% block css %}{% endblock %}
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->     	
    </head>
    <body>
    	{% block body %}{% endblock %}

		{% javascripts 
			'include/js/include.js'
		%}
		    <script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
    	
		{% block js %}{% endblock %}
    </body>
</html>
